.navbar {
    background: url('img/Rectangle 1.png') center / cover no-repeat;
}
.card-info-body p{
    font-family: Source Sans 3;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);

}
.section-patients-says-body h1{
    font-family: Source Sans 3;
    font-size: 40px;     
}
.section-patients-says-body p{
 
}

